<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{242,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,53}}</string>
                <key>sourceSize</key>
                <string>{242,53}</string>
            </dict>
            <key>1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,403},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,0},{102,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,137}}</string>
                <key>sourceSize</key>
                <string>{102,137}</string>
            </dict>
            <key>1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,203},{202,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,89}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{396,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,99}}</string>
                <key>sourceSize</key>
                <string>{396,99}</string>
            </dict>
            <key>1-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,523},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,279},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>1-17-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,470},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,553},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,500},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,523},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,470},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,100},{152,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,113}}</string>
                <key>sourceSize</key>
                <string>{152,115}</string>
            </dict>
            <key>1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,373},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,276},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,276},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,512},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{152,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,98}}</string>
                <key>sourceSize</key>
                <string>{152,98}</string>
            </dict>
            <key>11_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,565},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>11_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,512},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,409},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,512},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{202,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,102}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,409},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,203},{72,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,133}}</string>
                <key>sourceSize</key>
                <string>{72,133}</string>
            </dict>
            <key>2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,373},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,214},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>x-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,344},{144,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,64}}</string>
                <key>sourceSize</key>
                <string>{152,64}</string>
            </dict>
            <key>x-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,279},{144,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,64}}</string>
                <key>sourceSize</key>
                <string>{152,64}</string>
            </dict>
            <key>x-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,138},{148,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{152,64}</string>
            </dict>
            <key>提醒弹框.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,214},{152,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SHOUYE.png</string>
            <key>size</key>
            <string>{504,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88eb78ee621edb7d05dc16206916c65e$</string>
            <key>textureFileName</key>
            <string>SHOUYE.png</string>
        </dict>
    </dict>
</plist>
