<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,548},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>0-9金 木水火土.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,390},{202,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,260}}</string>
                <key>sourceSize</key>
                <string>{202,260}</string>
            </dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,900},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>1-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,582},{252,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,75}}</string>
                <key>sourceSize</key>
                <string>{252,75}</string>
            </dict>
            <key>1-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,395},{262,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,102}}</string>
                <key>sourceSize</key>
                <string>{262,102}</string>
            </dict>
            <key>1-4红包凤凰 -.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,651},{152,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,192}}</string>
                <key>sourceSize</key>
                <string>{152,196}</string>
            </dict>
            <key>1-5分红凤凰 -.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,129},{131,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,260}}</string>
                <key>sourceSize</key>
                <string>{133,260}</string>
            </dict>
            <key>1-6算力凤凰 -.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,658},{152,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,232}}</string>
                <key>sourceSize</key>
                <string>{152,232}</string>
            </dict>
            <key>1-7情侣凤凰 男 -.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,767},{152,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,184}}</string>
                <key>sourceSize</key>
                <string>{152,184}</string>
            </dict>
            <key>1-8情侣凤凰 女 -.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,658},{152,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,184}}</string>
                <key>sourceSize</key>
                <string>{152,184}</string>
            </dict>
            <key>11-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,364},{466,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,131}}</string>
                <key>sourceSize</key>
                <string>{466,137}</string>
            </dict>
            <key>14-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,811},{241,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{634,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{634,128}}</string>
                <key>sourceSize</key>
                <string>{642,132}</string>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,495},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,889},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,314},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,242},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{532,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,94}}</string>
                <key>sourceSize</key>
                <string>{532,102}</string>
            </dict>
            <key>4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{241,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,804},{152,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,102}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,183},{211,290}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{211,290}}</string>
                <key>sourceSize</key>
                <string>{219,302}</string>
            </dict>
            <key>6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{502,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,234}}</string>
                <key>sourceSize</key>
                <string>{502,234}</string>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,0},{182,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{182,298}}</string>
                <key>sourceSize</key>
                <string>{182,302}</string>
            </dict>
            <key>6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,442},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>7-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,831},{108,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,57}}</string>
                <key>sourceSize</key>
                <string>{108,57}</string>
            </dict>
            <key>7-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,353},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>7-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,317},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>7-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,907},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>7-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,897},{108,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,57}}</string>
                <key>sourceSize</key>
                <string>{108,57}</string>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,843},{102,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,145}}</string>
                <key>sourceSize</key>
                <string>{102,145}</string>
            </dict>
            <key>8-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,395},{252,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,186}}</string>
                <key>sourceSize</key>
                <string>{252,186}</string>
            </dict>
            <key>8-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,389},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>8-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,364},{402,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,177}}</string>
                <key>sourceSize</key>
                <string>{402,177}</string>
            </dict>
            <key>9-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,843},{100,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>9-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,907},{100,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>加载中.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,601},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>标签1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,242},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>箭头-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,896},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>问号.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,843},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TANKUANG.png</string>
            <key>size</key>
            <string>{1022,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20a6f75244509cdeef085cd7654bdf27$</string>
            <key>textureFileName</key>
            <string>TANKUANG.png</string>
        </dict>
    </dict>
</plist>
